.svg-about-icon-l {
	background: url("sprite.css-1852d812.svg") 95.78368469294226% 37.0595382746051% no-repeat;
}

.svg-about-icon-l-x {
	width: 10px;
	height: 12px;
}

.svg-about-icon1 {
	background: url("sprite.css-1852d812.svg") 88.53681267474371% 54.142947501581276% no-repeat;
}

.svg-about-icon1-x {
	width: 46px;
	height: 77px;
}

.svg-about-icon2 {
	background: url("sprite.css-1852d812.svg") 96.76663542642925% 48.56070087609512% no-repeat;
}

.svg-about-icon2-x {
	width: 58px;
	height: 60px;
}

.svg-about-icon3 {
	background: url("sprite.css-1852d812.svg") 99.85922102299389% 38.94802755165936% no-repeat;
}

.svg-about-icon3-x {
	width: 61px;
	height: 61px;
}

.svg-about-img {
	background: url("sprite.css-1852d812.svg") 0 73.62270450751252% no-repeat;
}

.svg-about-img-x {
	width: 597px;
	height: 460px;
}

.svg-ar1 {
	background: url("sprite.css-1852d812.svg") 97.42054352832795% 55.28405620036652% no-repeat;
}

.svg-ar1-x {
	width: 21px;
	height: 21px;
}

.svg-arrow {
	background: url("sprite.css-1852d812.svg") 96.47919524462735% 36.99211643420254% no-repeat;
}

.svg-arrow-x {
	width: 5px;
	height: 9px;
}

.svg-arrow2 {
	background: url("sprite.css-1852d812.svg") 99.81701738334858% 36.24242424242424% no-repeat;
}

.svg-arrow2-x {
	width: 6px;
	height: 8px;
}

.svg-arrow3 {
	background: url("sprite.css-1852d812.svg") 99.08466819221968% 36.286407766990294% no-repeat;
}

.svg-arrow3-x {
	width: 7px;
	height: 10px;
}

.svg-arrow5 {
	background: url("sprite.css-1852d812.svg") 96.44670050761421% 36.330498177399754% no-repeat;
}

.svg-arrow5-x {
	width: 25px;
	height: 12px;
}

.svg-arrow6 {
	background: url("sprite.css-1852d812.svg") 96.75205855443733% 36.96969696969697% no-repeat;
}

.svg-arrow6-x {
	width: 6px;
	height: 8px;
}

.svg-bann-icon {
	background: url("sprite.css-1852d812.svg") 93.98958826313299% 49.05183312262958% no-repeat;
}

.svg-bann-icon-x {
	width: 79px;
	height: 76px;
}

.svg-bann-icon2 {
	background: url("sprite.css-1852d812.svg") 90.21842355175689% 49.17617237008872% no-repeat;
}

.svg-bann-icon2-x {
	width: 86px;
	height: 80px;
}

.svg-bg {
	background: url("sprite.css-1852d812.svg") 71.11362351611079% 34.4375% no-repeat;
}

.svg-bg-x {
	width: 423px;
	height: 58px;
}

.svg-cart {
	background: url("sprite.css-1852d812.svg") 92.54143646408839% 59.914582062233066% no-repeat;
}

.svg-cart-x {
	width: 20px;
	height: 19px;
}

.svg-cart-banner2 {
	background: url("sprite.css-1852d812.svg") 95.14747859181732% 35.491905354919055% no-repeat;
}

.svg-cart-banner2-x {
	width: 90px;
	height: 52px;
}

.svg-check {
	background: url("sprite.css-1852d812.svg") 94.89889705882354% 50.913520097442145% no-repeat;
}

.svg-check-x {
	width: 16px;
	height: 16px;
}

.svg-check-in-img {
	background: url("sprite.css-1852d812.svg") 36.82911782850093% 72.89256198347107% no-repeat;
}

.svg-check-in-img-x {
	width: 571px;
	height: 448px;
}

.svg-check2 {
	background: url("sprite.css-1852d812.svg") 99.54170485792851% 36.24242424242424% no-repeat;
}

.svg-check2-x {
	width: 10px;
	height: 8px;
}

.svg-check3 {
	background: url("sprite.css-1852d812.svg") 98.76203576341128% 36.30843958712811% no-repeat;
}

.svg-check3-x {
	width: 11px;
	height: 11px;
}

.svg-close-i {
	background: url("sprite.css-1852d812.svg") 99.95412844036697% 47.17325227963526% no-repeat;
}

.svg-close-i-x {
	width: 12px;
	height: 13px;
}

.svg-close2 {
	background: url("sprite.css-1852d812.svg") 99.81549815498155% 45.41003671970624% no-repeat;
}

.svg-close2-x {
	width: 24px;
	height: 24px;
}

.svg-delete {
	background: url("sprite.css-1852d812.svg") 90.89236430542778% 62.08791208791209% no-repeat;
}

.svg-delete-x {
	width: 18px;
	height: 20px;
}

.svg-delivery-i1 {
	background: url("sprite.css-1852d812.svg") 97.9020979020979% 57.52157829839704% no-repeat;
}

.svg-delivery-i1-x {
	width: 47px;
	height: 36px;
}

.svg-delivery-i2 {
	background: url("sprite.css-1852d812.svg") 88.57808857808858% 60.50523721503389% no-repeat;
}

.svg-delivery-i2-x {
	width: 47px;
	height: 35px;
}

.svg-delivery-img {
	background: url("sprite.css-1852d812.svg") 81.75494917067951% 59.19463087248322% no-repeat;
}

.svg-delivery-img-x {
	width: 323px;
	height: 168px;
}

.svg-delivery-img2 {
	background: url("sprite.css-1852d812.svg") 0 41.522230595327805% no-repeat;
}

.svg-delivery-img2-x {
	width: 629px;
	height: 331px;
}

.svg-delivery-img3 {
	background: url("sprite.css-1852d812.svg") 40.24312220089571% 41.522230595327805% no-repeat;
}

.svg-delivery-img3-x {
	width: 629px;
	height: 331px;
}

.svg-edit {
	background: url("sprite.css-1852d812.svg") 96.82758620689656% 59.8780487804878% no-repeat;
}

.svg-edit-x {
	width: 17px;
	height: 18px;
}

.svg-exit {
	background: url("sprite.css-1852d812.svg") 95.6341911764706% 50.913520097442145% no-repeat;
}

.svg-exit-x {
	width: 16px;
	height: 16px;
}

.svg-fc {
	background: url("sprite.css-1852d812.svg") 94.42396313364056% 55.31784841075795% no-repeat;
}

.svg-fc-x {
	width: 22px;
	height: 22px;
}

.svg-filter {
	background: url("sprite.css-1852d812.svg") 98.25287356321839% 36.30843958712811% no-repeat;
}

.svg-filter-x {
	width: 17px;
	height: 11px;
}

.svg-gm {
	background: url("sprite.css-1852d812.svg") 95.43778801843318% 55.31784841075795% no-repeat;
}

.svg-gm-x {
	width: 22px;
	height: 22px;
}

.svg-ic-tt1 {
	background: url("sprite.css-1852d812.svg") 93.41923607915325% 59.914582062233066% no-repeat;
}

.svg-ic-tt1-x {
	width: 19px;
	height: 19px;
}

.svg-ic-tt2 {
	background: url("sprite.css-1852d812.svg") 94.29360331339163% 59.914582062233066% no-repeat;
}

.svg-ic-tt2-x {
	width: 19px;
	height: 19px;
}

.svg-ic-tt3 {
	background: url("sprite.css-1852d812.svg") 95.16797054763% 59.914582062233066% no-repeat;
}

.svg-ic-tt3-x {
	width: 19px;
	height: 19px;
}

.svg-ic-tt4 {
	background: url("sprite.css-1852d812.svg") 96.04233778186838% 59.914582062233066% no-repeat;
}

.svg-ic-tt4-x {
	width: 19px;
	height: 19px;
}

.svg-icon-catalog1 {
	background: url("sprite.css-1852d812.svg") 90.84967320261438% 53.200745804847735% no-repeat;
}

.svg-icon-catalog1-x {
	width: 50px;
	height: 49px;
}

.svg-icon-catalog2 {
	background: url("sprite.css-1852d812.svg") 93.18394024276377% 53.200745804847735% no-repeat;
}

.svg-icon-catalog2-x {
	width: 50px;
	height: 49px;
}

.svg-icon-catalog3 {
	background: url("sprite.css-1852d812.svg") 95.51820728291317% 53.200745804847735% no-repeat;
}

.svg-icon-catalog3-x {
	width: 50px;
	height: 49px;
}

.svg-icon-catalog4 {
	background: url("sprite.css-1852d812.svg") 97.85247432306255% 53.200745804847735% no-repeat;
}

.svg-icon-catalog4-x {
	width: 50px;
	height: 49px;
}

.svg-icon-catalog5 {
	background: url("sprite.css-1852d812.svg") 88.70214752567693% 57.98632691112492% no-repeat;
}

.svg-icon-catalog5-x {
	width: 50px;
	height: 49px;
}

.svg-icon-catalog6 {
	background: url("sprite.css-1852d812.svg") 91.03641456582633% 57.98632691112492% no-repeat;
}

.svg-icon-catalog6-x {
	width: 50px;
	height: 49px;
}

.svg-icon-catalog7 {
	background: url("sprite.css-1852d812.svg") 93.37068160597572% 57.98632691112492% no-repeat;
}

.svg-icon-catalog7-x {
	width: 50px;
	height: 49px;
}

.svg-icon-catalog8 {
	background: url("sprite.css-1852d812.svg") 95.70494864612512% 57.98632691112492% no-repeat;
}

.svg-icon-catalog8-x {
	width: 50px;
	height: 49px;
}

.svg-icon-header1 {
	background: url("sprite.css-1852d812.svg") 99.67502321262766% 57.34480639213276% no-repeat;
}

.svg-icon-header1-x {
	width: 38px;
	height: 31px;
}

.svg-icon-header2 {
	background: url("sprite.css-1852d812.svg") 90.2224281742354% 60.28238182934316% no-repeat;
}

.svg-icon-header2-x {
	width: 34px;
	height: 29px;
}

.svg-icon-header3 {
	background: url("sprite.css-1852d812.svg") 99.86130374479889% 32.409118915588415% no-repeat;
}

.svg-icon-header3-x {
	width: 29px;
	height: 35px;
}

.svg-icon-header4 {
	background: url("sprite.css-1852d812.svg") 90.30162412993039% 55.45343137254902% no-repeat;
}

.svg-icon-header4-x {
	width: 37px;
	height: 26px;
}

.svg-icon-menu {
	background: url("sprite.css-1852d812.svg") 90.01386962552012% 62.46928746928747% no-repeat;
}

.svg-icon-menu-x {
	width: 29px;
	height: 30px;
}

.svg-icon-menu2 {
	background: url("sprite.css-1852d812.svg") 91.58576051779936% 60.28238182934316% no-repeat;
}

.svg-icon-menu2-x {
	width: 29px;
	height: 29px;
}

.svg-icon-menu3 {
	background: url("sprite.css-1852d812.svg") 99.95378927911275% 34.969325153374236% no-repeat;
}

.svg-icon-menu3-x {
	width: 28px;
	height: 28px;
}

.svg-icon-menu4 {
	background: url("sprite.css-1852d812.svg") 99.95381062355658% 43.90691977954685% no-repeat;
}

.svg-icon-menu4-x {
	width: 27px;
	height: 25px;
}

.svg-icon1 {
	background: url("sprite.css-1852d812.svg") 88.57808857808858% 62.73904996915484% no-repeat;
}

.svg-icon1-x {
	width: 47px;
	height: 37px;
}

.svg-img-b1 {
	background: url("sprite.css-1852d812.svg") 68.07359307359307% 43.72785258681786% no-repeat;
}

.svg-img-b1-x {
	width: 344px;
	height: 247px;
}

.svg-img1 {
	background: url("sprite.css-1852d812.svg") 0 100% no-repeat;
}

.svg-img1-x {
	width: 346px;
	height: 316px;
}

.svg-img2 {
	background: url("sprite.css-1852d812.svg") 18.502673796791445% 91.35466303607896% no-repeat;
}

.svg-img2-x {
	width: 322px;
	height: 189px;
}

.svg-img3 {
	background: url("sprite.css-1852d812.svg") 100% 0 no-repeat;
}

.svg-img3-x {
	width: 292px;
	height: 293px;
}

.svg-img5 {
	background: url("sprite.css-1852d812.svg") 98.34368530020704% 21.216509775524983% no-repeat;
}

.svg-img5-x {
	width: 260px;
	height: 277px;
}

.svg-in {
	background: url("sprite.css-1852d812.svg") 96.45161290322581% 55.31784841075795% no-repeat;
}

.svg-in-x {
	width: 22px;
	height: 22px;
}

.svg-inf {
	background: url("sprite.css-1852d812.svg") 96.36948529411765% 50.882531953743154% no-repeat;
}

.svg-inf-x {
	width: 16px;
	height: 15px;
}

.svg-inf2 {
	background: url("sprite.css-1852d812.svg") 93.40710004610419% 55.35168195718654% no-repeat;
}

.svg-inf2-x {
	width: 23px;
	height: 23px;
}

.svg-labels-icon1 {
	background: url("sprite.css-1852d812.svg") 99.81515711645102% 21.03639728562616% no-repeat;
}

.svg-labels-icon1-x {
	width: 28px;
	height: 37px;
}

.svg-labels-icon2 {
	background: url("sprite.css-1852d812.svg") 99.81515711645102% 23.318938926588526% no-repeat;
}

.svg-labels-icon2-x {
	width: 28px;
	height: 37px;
}

.svg-labels-icon3 {
	background: url("sprite.css-1852d812.svg") 99.81515711645102% 25.601480567550894% no-repeat;
}

.svg-labels-icon3-x {
	width: 28px;
	height: 37px;
}

.svg-labels-icon4 {
	background: url("sprite.css-1852d812.svg") 99.81515711645102% 27.884022208513265% no-repeat;
}

.svg-labels-icon4-x {
	width: 28px;
	height: 37px;
}

.svg-labels-icon5 {
	background: url("sprite.css-1852d812.svg") 99.81515711645102% 30.166563849475633% no-repeat;
}

.svg-labels-icon5-x {
	width: 28px;
	height: 37px;
}

.svg-like {
	background: url("sprite.css-1852d812.svg") 98.38783970520497% 55.18292682926829% no-repeat;
}

.svg-like-x {
	width: 21px;
	height: 18px;
}

.svg-like2 {
	background: url("sprite.css-1852d812.svg") 99.355135882082% 55.18292682926829% no-repeat;
}

.svg-like2-x {
	width: 21px;
	height: 18px;
}

.svg-line {
	background: url("sprite.css-1852d812.svg") 68.81838074398249% 36.90909090909091% no-repeat;
}

.svg-line-x {
	width: 364px;
	height: 8px;
}

.svg-line2 {
	background: url("sprite.css-1852d812.svg") 0 0 no-repeat;
}

.svg-line2-x {
	width: 1900px;
	height: 551px;
}

.svg-list-i1 {
	background: url("sprite.css-1852d812.svg") 99.9534233814625% 53.03593556381661% no-repeat;
}

.svg-list-i1-x {
	width: 45px;
	height: 44px;
}

.svg-list-i2 {
	background: url("sprite.css-1852d812.svg") 99.9537251272559% 18.198757763975156% no-repeat;
}

.svg-list-i2-x {
	width: 31px;
	height: 48px;
}

.svg-lk-icon1 {
	background: url("sprite.css-1852d812.svg") 90.30418250950571% 43.82165605095541% no-repeat;
}

.svg-lk-icon1-x {
	width: 88px;
	height: 88px;
}

.svg-lk-icon2 {
	background: url("sprite.css-1852d812.svg") 94.48669201520913% 43.82165605095541% no-repeat;
}

.svg-lk-icon2-x {
	width: 88px;
	height: 88px;
}

.svg-lk-icon3 {
	background: url("sprite.css-1852d812.svg") 98.66920152091255% 43.82165605095541% no-repeat;
}

.svg-lk-icon3-x {
	width: 88px;
	height: 88px;
}

.svg-logo {
	background: url("sprite.css-1852d812.svg") 90.82217973231357% 37.01298701298701% no-repeat;
}

.svg-logo-x {
	width: 100px;
	height: 118px;
}

.svg-logo-mob {
	background: url("sprite.css-1852d812.svg") 98.63142991977348% 34.969325153374236% no-repeat;
}

.svg-logo-mob-x {
	width: 73px;
	height: 28px;
}

.svg-map-i {
	background: url("sprite.css-1852d812.svg") 97.01561065197428% 50.851581508515814% no-repeat;
}

.svg-map-i-x {
	width: 14px;
	height: 14px;
}

.svg-map-i2 {
	background: url("sprite.css-1852d812.svg") 91.2563276576162% 55.385556915544676% no-repeat;
}

.svg-map-i2-x {
	width: 19px;
	height: 24px;
}

.svg-minus {
	background: url("sprite.css-1852d812.svg") 98.99175068744272% 34.13897280966767% no-repeat;
}

.svg-minus-x {
	width: 10px;
	height: 3px;
}

.svg-pay-icon1 {
	background: url("sprite.css-1852d812.svg") 93.98496240601504% 39.02132998745295% no-repeat;
}

.svg-pay-icon1-x {
	width: 64px;
	height: 64px;
}

.svg-pay-icon2 {
	background: url("sprite.css-1852d812.svg") 96.99248120300751% 39.02132998745295% no-repeat;
}

.svg-pay-icon2-x {
	width: 64px;
	height: 64px;
}

.svg-pay-icon3 {
	background: url("sprite.css-1852d812.svg") 99.39138576779027% 48.4394506866417% no-repeat;
}

.svg-pay-icon3-x {
	width: 56px;
	height: 56px;
}

.svg-pay-img {
	background: url("sprite.css-1852d812.svg") 63.75545851528384% 64.47368421052632% no-repeat;
}

.svg-pay-img-x {
	width: 360px;
	height: 290px;
}

.svg-pen {
	background: url("sprite.css-1852d812.svg") 99.12683823529412% 59.80511571254568% no-repeat;
}

.svg-pen-x {
	width: 16px;
	height: 16px;
}

.svg-plus {
	background: url("sprite.css-1852d812.svg") 96.24197983501375% 37.01456310679612% no-repeat;
}

.svg-plus-x {
	width: 10px;
	height: 10px;
}

.svg-point {
	background: url("sprite.css-1852d812.svg") 99.67697277341948% 33.91777509068924% no-repeat;
}

.svg-point-x {
	width: 25px;
	height: 4px;
}

.svg-rating {
	background: url("sprite.css-1852d812.svg") 97.60919540229885% 59.84156002437538% no-repeat;
}

.svg-rating-x {
	width: 17px;
	height: 17px;
}

.svg-rating-active {
	background: url("sprite.css-1852d812.svg") 98.39080459770115% 59.84156002437538% no-repeat;
}

.svg-rating-active-x {
	width: 17px;
	height: 17px;
}

.svg-search {
	background: url("sprite.css-1852d812.svg") 99.81549815498155% 42.23449969306323% no-repeat;
}

.svg-search-x {
	width: 24px;
	height: 29px;
}

.svg-tb-icon1 {
	background: url("sprite.css-1852d812.svg") 88.57808857808858% 65.4252017380509% no-repeat;
}

.svg-tb-icon1-x {
	width: 47px;
	height: 47px;
}

.svg-tb-icon2 {
	background: url("sprite.css-1852d812.svg") 90.76923076923077% 65.4252017380509% no-repeat;
}

.svg-tb-icon2-x {
	width: 47px;
	height: 47px;
}

.svg-tb-icon3 {
	background: url("sprite.css-1852d812.svg") 92.96037296037296% 65.4252017380509% no-repeat;
}

.svg-tb-icon3-x {
	width: 47px;
	height: 47px;
}

.svg-toggler {
	background: url("sprite.css-1852d812.svg") 100% 47.963525835866264% no-repeat;
}

.svg-toggler-x {
	width: 13px;
	height: 13px;
}

.svg-vk {
	background: url("sprite.css-1852d812.svg") 97.46543778801843% 36.330498177399754% no-repeat;
}

.svg-vk-x {
	width: 22px;
	height: 12px;
}

.svg-vk2 {
	background: url("sprite.css-1852d812.svg") 92.34317343173431% 55.385556915544676% no-repeat;
}

.svg-vk2-x {
	width: 24px;
	height: 24px;
}

